.training{
    height: 100vh;
    padding: 10px; 
}
.training h1{  
    font-size: calc(20px + (70 - 20) * ((100vw - 300px) / (1900 - 300)));
    font-weight: 600;
    color: #171426;

}
.training h1 span{
    color: #FCCA42;
}
.training .trainingBox{
    padding: 2rem 5.5rem; 
    height: 80%;
}

.training .trainingBox .left{ 
    background: url(../../../images/training1.png); 
     
}
.training .trainingBox .right{  
    background: url(../../../images/training2.jpg); 
}
.training .trainingBox .box{
    width: 48%;
    margin: 0.5%; 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    padding: 0px;
    position: relative;
}
.training .trainingBox .box h2{  
    /* font-size: 1.2rem; */
    font-size: calc(12px + (24 - 12) * ((100vw - 300px) / (1900 - 300)));
    text-align: start;
    background: #FCCA42;
    width: 70%;
    padding: 15px 12px;
    position: absolute;
    bottom: 25px;
}
.training .trainingBox .box h2 span{ 
   padding-left: 10px; 
}

@media only screen and (max-width: 1366px) {
    .training .trainingBox .box h2{  
        /* font-size: 1rem; */
    }
    .training .trainingBox{
        padding: 1.5rem 3.5rem;  
    }
  }                       
@media only screen and (max-width: 1100px) {
    .training .trainingBox .box h2{  
        /* font-size:0.8rem; */
        width: 76%;
        padding: 10px 6px;
    }
    .training .trainingBox{
        padding: 1rem 2.5rem;  
    }  
  }                       
  @media only screen and (max-width: 768px) {
    .training  {
        margin-bottom: 50px;
    } 
    .training .trainingBox{
        padding: 1rem 2rem;  
        height: 100%;
    } 
    .training .trainingBox .box{
        width: 96%;
        margin: 1%; 
    }
    .training .trainingBox .box h2{  
        width: 60%;
    }
  }
  @media only screen and (max-width: 500px) {
    .training .trainingBox{
        padding: 1rem 1.5rem;  
    } 
    .training .trainingBox .box h2{ 
        /* font-size:0.6rem;  */
        width: 70%;
        padding: 8px 4px;
    }
  }