.headerMain{
    height: 100vh;
    object-fit: cover;
    background-image: linear-gradient(rgba(25, 25, 32, 0.699),rgba(22, 22, 31, 0.5)),url(../../../images/headerBG.jpg);
    background-size: cover;
    color: white;
    overflow: hidden;
}
.header-content>.right{
 /* background: rgb(145, 100, 100);  */
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-content >.left {
    display: inline;
    text-align: center;   
    padding: 80px 20px;
}
.header-content >.left>h1 {
    font-weight: 500;
    font-size: calc(1rem+ 2vw);
}
.header-content >.left>p {
    padding: 10px 70px;
}
.joinUsBtn{
    margin-top: 25px;
    padding: 10px 40px;
    font-weight: bold; 
    border: none;
    background-color: #fcd842;
    border-radius: 2px;
}
.joinUsBtn a{
    color: #161326;
    text-decoration: none;
}
.header-right-bg{  
color: rgba(186, 186, 214, 0.171);
font-size: 1200px;
font-weight: bold; 
width: -moz-fit-content;
  width: fit-content; 
}
.header-right-icon{    
    color: rgba(230, 230, 243, 0.171);
    font-size: 500px;
    position: absolute;
    /* top: 50%; */
    /* transform: translate(-50%,-50%); */
}
.playBtn{
    font-size: 70px; 
}
.vLine{
    border-right: 2px solid rgb(115, 119, 121);
    height: 120px;
    width: 0px !important;
    padding: 0px 0px !important;
    margin:  25px 0px  !important;
} 

.iconContainer{    
    justify-content: center;
    align-items: center; 
}

@media only screen and (max-width: 1366px) {
    .header-content >.left>h1 {
        font-weight: 400;
        font-size: calc(1rem+ 2vw);
    }
    .header-content >.left {   
        padding: 40px 10px;
    }
    .header-right-icon{     
        font-size: 400px; 
    }
    .vLine{
        border-right: 2px solid rgb(115, 119, 121);
        height: 100px;
        margin:  20px 0px  !important;
    } 
    .header-content >.left>p {
        padding: 10px 80px;
        font-size: 18px;
    }
    .playBtn{
        font-size: 50px; 
    }
}
@media only screen and (max-width: 768px) {
    .header-content >.left>h1 {
        font-weight: 200;
        font-size: calc(1rem+ 1vw);
    }
    .header-content >.left {   
        padding: 20px 10px;
    }
    .header-content >.left>p {
        padding: 5px 70px;
        font-size: 14px;

    }
    .joinUsBtn{
        margin-top: 10px;
        padding: 5px 20px;
        border-radius: 1px;
        font-weight: 500; 
    }
    .header-right-icon{     
        font-size: 300px; 
    }
    .vLine{
        border-right: 1px solid rgb(115, 119, 121);
        height: 40px;
        margin:  20px 0px  !important;
    } 
    .playBtn{
        font-size: 35px; 
    }
}