.footerBox{
    background-color: #171426;
    color: white;
    padding: 20px 10px;
}
.footerBox h3 {   
    padding-bottom: 20px;
}
.footerBox h3 span{   
    color: #FCD842;
}
.footerBox ul{
   padding: 0px;
}
.footerBox ul li{
    text-align: start;   
    list-style: none;
    font-size: 16px;
    margin: 12px 0px;
}
.footerBox ul li a{
   text-decoration: none;
   color: white;
}
.footerBox .contactIcon{
    font-size: 22px;
    margin: 12px 0px;
}
@media only screen and (max-width: 768px) {
    .footerBox{
        padding: 40px;
    }
  }
@media only screen and (max-width: 576px) {
    .footerBox{   
        padding: 50px;  
    }
  }