.chooseUs {
     /* min-height: 100vw; */
      
}
.chooseUs h1  {
    font-size: calc(20px + (70 - 20) * ((100vw - 300px) / (1900 - 300)));
    font-weight: 600;
    color: #FCCA42;
}
.chooseUs h1 span{
    color: #171426;
}
.chooseBox{
   position: relative; 
   margin: 20px 0px;
}
.row{
    /* background: rgba(255, 0, 0, 0.224); */
    padding: calc(15px + (60 - 15) * ((100vw - 768px) / (1900 - 768))) calc(20px + (110 - 20) * ((100vw - 768px) / (1900 - 768)));
    margin: 0 auto;
    /* display: flex;
    align-items: center !important;
    justify-content: center !important;  */
}

.box{ 
    /* background-color: blue;  */
    position: relative;
    padding: 3px; 
    margin-top: 40px !important;
}
.chooseUs h2  {
    font-size: calc(12px + (24 - 12) * ((100vw - 300px) / (1900 - 300)));
    font-weight: 750; 
    color: #171426;
    margin-bottom: 18px;
}
.chooseUs p  { 
    color: #171426;
    padding: 4px;
}
.card img  { 
    height: 100px !important;
    margin-bottom: 55px !important;
}
.card{
    box-shadow: 1.5px 2px 5px #88888882;
    padding: 15px;
    position: relative;
    align-items: center;
     margin: 0 auto;
}
.cardElements{
    position: absolute; 
    bottom: 20px;
}

@media only screen and (max-width: 1410px) {
    .card{
        width: 400px !important;
        padding: 8px;
    }
  } 
@media only screen and (max-width: 1366px) {
    .card{
        width: 360px !important;
        padding: 5px;
    }
  } 

@media only screen and (max-width: 1210px) {
    .card{
        width: 360px !important;
        padding: 5px;
    }
  } 
  @media only screen and (max-width: 810px) {
    .card{
        width: 350px !important;
        padding: 5px;
    }
  } 
/* @media only screen and (max-width: 768px) {
    .box{
        position: relative;
        }
    .card{
        margin: 0 auto;
        }
  }  */